.mynavbar
{
    display: flex;
    background-color: #F9F9F9;
    padding: 5px;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px -2px rgba(56,56,56,1);
    z-index: 100;
}
.nav-left
{
    display: flex;
    flex-direction: row;
    height: 38px;
    margin-right: 10px;
}
.nav-right
{
    display: flex;
    flex-direction: row;
}
#search
{
    width: 30vw;
}

#orderModal
{
    z-index: 2001!important;
}
.modal-dialog{top: 10vw;}
