
.order-form-hint
{
    color: #aa3030;
    font-family: Consolas;
    margin: 0;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  margin: 0.1rem;
  background-color:#454444cf;
  height: 1px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.alert
{
    margin-bottom: 0;
    min-width: 300px;
}

#alert-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.body-main {
   // background: url("/static/images/parchment_small_proc_gray_blend.webp")!important;
}

.fit-image {
    object-fit: cover;
}

.contain-image {
    object-fit: contain;
}