{% load static %}

<link rel="stylesheet" href="{% static 'css/mobile/navbar.css'%}">

<nav class="mynavbar sticky">

    {% if render_mode == 'price_list' %}
    <!-- Go Up -->

    <a class="navbar-brand-" href="#">Наверх</a>
    {% else %}
    <a class="navbar-brand-" href="#"></a>
    {% endif %}
    <!-- row -->

      <!-- Favourite -->
      <a class="btn btn-dark nowrap dropdown-toggle" id="toggle_fav_tab_btn" onclick="Renderer.toggle_fav_tab();">
        <i class="ml-1 fas fa-shopping-cart"></i>
        <span>Корзина</span>
      </a>

      <!-- Full List -->
      {% if render_mode == 'price_list' %}
      <a class="btn btn-dark nowrap"   onclick="Searcher.make_query({q:''})">
        <i class="fas fa-list ml-1" style=""></i>
        <span>Полный список</span>
      </a>
      {% elif render_mode == 'single_item' %}
        <a class="btn btn-dark nowrap"  href="/">На Главную</a>
      {% endif %}

      <!-- Contacts -->
      <a class="btn btn-dark"  onclick='Renderer.toggle_contacts()'><i class="fas fa-phone"></i></a>
    <!-- row -->
      <!-- Dropdown -->
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle nowrap max-fill" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ml-1 fas fa-bars"></i>
          Категории
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for cat_id, category, count in counted_categories %}
            {% if render_mode == 'price_list' %}
              <a class="dropdown-item noselect" onclick="Searcher.make_query({cat: '{{cat_id}}'})">{{category}} ({{count}})</a>
            {% elif render_mode == 'single_item' %}
              <a class="dropdown-item noselect" href="/?cat={{cat_id}}">{{category}} ({{count}})</a>
            {% endif %}
          {%endfor%}
        </div>
      </div>


      <!-- Search Form -->

        <div style="position: relative; display: inline-block; ">
          <form id="search_form">
            <input id="search" style="width: 100%" class="form-control nav-wide-cont" type="search" placeholder="Поиск" autocomplete="off" aria-label="Search" value="{{query}}">
          </form>
        </div>

        {% if render_mode == 'price_list' %}

        <button class="btn btn-outline-success my-sm-0" type="button" onclick="handle_search_btn()">
          <i class=" fas fa-search"></i>
          </button>
        {% else %}
          <button class="btn btn-outline-success my-sm-0" type="button" onclick="window.location.href = ('/?q=' + $('#search').val() + '#main' )">  <i class=" fas fa-search"></i></button>
          <script>
            document.getElementById('search_form').onsubmit = ()=> {
            window.location.href = ('/?q=' + $('#search').val() )
            document.activeElement.blur();
            return false;
            };
          </script>
        {% endif %}


  </nav>

<script>
const CATS = {{categories|safe}};
const ADMIN = {% if admin %}true;{%else%}false;{%endif%}
</script>