<!DOCTYPE html>
<html lang="en">
<head>


    {% load static  %}
    {% csrf_token %}

    {% include 'universal/preload.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ settings.title }}</title>

</head>

<body class="bg-main" style="width: 100%; min-height: 100vh;">

    {% include 'mobile/common/navbar.html' %}

    {% if item %}
        <div class="flex">
            <div id="main"></div>

<!--            <button class="btn btn-dark btn-lg mb-2"-->
<!--                    onclick="OrderForm.open(Searcher.items[0].id)">-->
<!--                    <i class="fas fa-envelope"></i> Заказать-->
<!--            </button>-->

            <div id="split"></div>

            {% for path in item.photo_paths %}
<!--                <img class="photo-gal" src="{{ MEDIA_URL }}images/items/{{ path }}">-->
            {% endfor %}

        </div>

    {% else %}
        <p>item not found</p>
    {% endif %}

    {% include 'universal/main_load.html' %}
    {% include 'universal/footer.html' %}
    {% include 'universal/postload.html' %}

</body>
</html>