<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title> {{ settings.title }} </title>

</head>

    <body>

        {% load static  %}
        {% csrf_token %}

        {% include 'universal/preload.html' %}

        {% include 'mobile/common/navbar.html' %}

        <div class="body-main">

            <div class="flex">

                <h2>
                    {{ settings.text_title }}
                </h2>

                <p class="body-text">
                    {{ settings.text_main }}
                </p>

                <p class="text-main">
                    <a onclick="Renderer.toggle_contacts()" class="big link1 noselect">
                        Контакты
                    </a>
                </p>

            </div>

            <div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <div class="sidebar-nav">

                        <p class="sidebar-brand flex">
                            <a href="#">Категории</a>
                        </p>

                        <hr>

                        {% for cat_id, category, count in counted_categories %}
                        <div class="pad-txt">
                            <div class="sidebar-entry-wrap">
                                <a class="cat-entry noselect"
                                   onclick="Searcher.make_query({cat: '{{cat_id}}'})">{{category}} ({{count}})</a></div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/sidebar-->

            </div>

        </div>


        {% if admin %}
           {% include 'desktop/common/add_item_form.html' %}
           {% include 'desktop/common/not_saved_alert.html' %}
        {% endif %}

        <p class='flex noselect' id="split" style="margin: 0; padding: 15px 0 15px 0; box-shadow: 0px 5px 13px 10px rgba(0,0,0,0.53);
        background: linear-gradient(180deg, rgba(85,85,85,1) 0%, rgba(208,208,208,1) 10%, rgba(249,249,249,1) 18%, rgba(244,244,246,1) 78%, rgba(218,218,218,1) 86%, rgba(130,130,130,1) 100%);
        color: #6A6A6A;
        font-weight: 500;
        ">
            Чтобы добавить товар в избранное или оформить заказ, <br> нажмите на <i class="fas fa-ellipsis-v" style="font-size: 15px; display: inline;"></i> возле его характеристики.
        </p>

        <div id="main" class="bg-main">
            <div class="flex"><p id='empty-query-banner'></p></div>

            <div id="table-container">
                <!-- to be filled with JS -->
            </div>

            <div class="flex">
                    <a class="btn btn-dark nowrap" style="margin-right: 10px;" onclick="Searcher.make_query({q:''})">
                        <i class="fas fa-list ml-1" style=""></i>
                        <span>Полный список</span>
                    </a>
            </div>

        </div>

        {% include 'universal/main_load.html' %}

           <!-- support for host?q= requests -->
        <script>
            Searcher.make_query({silent: true, {%if query is not None %}q: '{{query}}',{%endif%} {%if cat_id is not None %}cat: '{{cat_id}}',{%endif%} });
        </script>

        {% include 'universal/modal.html' %}
        {% include 'universal/footer.html' %}
        {% include 'universal/postload.html' %}


    </body>
</html>