{% load static  %}

<link rel="stylesheet" href="{% static 'css/desktop/navbar.css'%}">

<nav class="sticky">
  <div class="mynavbar">
     <div class="nav-entry nav-left wrappable">

    <div class="nav-left">
      {% if render_mode == 'price_list' %}
      <!-- Go Up -->
      <a class="navbar-brand" href="#">Наверх</a>
      {% endif %}

      <!-- Favourite -->
      <a class="btn btn-dark nowrap dropdown-toggle" id="toggle_fav_tab_btn"  style="margin-right: 10px;" data-role="toggle-fav-tab">
        <i class="ml-1 fas fa-shopping-cart"></i>
        <span>Корзина</span>
      </a>
      <!-- Full List -->
      {% if render_mode == 'price_list' %}
      <a class="btn btn-dark nowrap"  style="margin-right: 10px;" data-role="full-list">
        <i class="fas fa-list ml-1" style=""></i>
        <span>Полный список</span>
      </a>
      {% elif render_mode == 'single_item' %}
      <a class="btn btn-dark nowrap"  style="margin-right: 10px;" href="/"><i class="fas fa-home mr-1"></i> На Главную</a>
      {% endif %}
    </div>

    <div class="nav-left">
      <!-- Contacts -->
      <div class="btn btn-dark nowrap"  style="margin-right: 10px;" data-role="toggle-contacts">
        <i class="ml-1 fas fa-phone"></i>
        <span>Контакты</span>
      </div>

      <!-- Dropdown -->
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle nowrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ml-1 fas fa-bars"></i>
          Категории
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for cat_id, category, count in counted_categories %}
            {% if render_mode == 'price_list' %}
              <a class="dropdown-item noselect" href="#main" data-role='query-cat' data-cat_id='{{cat_id}}'>{{category}} ({{count}})</a>
            {% elif render_mode == 'single_item' %}
              <a class="dropdown-item noselect" href="/?cat={{cat_id}}">{{category}} ({{count}})</a>
            {% endif %}
          {%endfor%}
        </div>
      </div>
    </div>
  </div>

  <div class="nav-mid nav-entry">
    <!-- Search Form -->
    <form class="form-inline" id="search_form">
      <div style="position: relative; display: inline-block; ">
        <input id="search" class="form-control" type="search" placeholder="Поиск" autocomplete="off" aria-label="Search" value="{{query}}">
      </div>

      <button class="btn btn-outline-success my-2 my-sm-0" data-role="submit-search-query" type="button">
        <i class=" fas fa-search"></i>
      </button>


    </form>

  </div>

  <div class="nav-right"></div>
  <div class="nav-right"></div>
  </div>

  <div id="fav_container" style="height: 0px;"></div>
 <div style="display: flex; justify-content: flex-end;">
  <div id="alert-container">
  </div>
</div>

</nav>
