{% load static  %}

<link rel="stylesheet" href="{% static 'css/desktop/navbar.css'%}">

<nav class="mynavbar sticky">

  <div class="nav-left">

    {% if render_mode == 'price_list' %}
    <!-- Go Up -->
    <a class="navbar-brand" href="#">Наверх</a>
    {% endif %}

    <!-- Favourite -->
    <a class="btn btn-dark nowrap dropdown-toggle" id="toggle_fav_tab_btn"  style="margin-right: 10px;" onclick="Renderer.toggle_fav_tab();">
      <i class="ml-1 fas fa-shopping-cart"></i>
      <span>Корзина</span>
    </a>
    <!-- Full List -->
    {% if render_mode == 'price_list' %}
    <a class="btn btn-dark nowrap"  style="margin-right: 10px;" onclick="Searcher.make_query({q:''})">
      <i class="fas fa-list ml-1" style=""></i>
      <span>Полный список</span>
    </a>
    {% elif render_mode == 'single_item' %}
    <a class="btn btn-dark nowrap"  style="margin-right: 10px;" href="/">На Главную</a>
    {% endif %}

    <!-- Contacts -->
    <div class="btn btn-dark nowrap"  style="margin-right: 10px;" onclick='Renderer.toggle_contacts()'>
      <i class="ml-1 fas fa-phone"></i>
      <span>Контакты</span>
  </div>
    <!-- Dropdown -->
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle nowrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ml-1 fas fa-bars"></i>
        Категории
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for cat_id, category, count in counted_categories %}
          {% if render_mode == 'price_list' %}
            <a class="dropdown-item noselect" href="#main" onclick="Searcher.make_query({cat: '{{cat_id}}'})">{{category}} ({{count}})</a>
          {% elif render_mode == 'single_item' %}
            <a class="dropdown-item noselect" href="/?cat={{cat_id}}">{{category}} ({{count}})</a>
          {% endif %}
        {%endfor%}
      </div>
    </div>
  </div>

  <div class="nav-mid">
    <!-- Search Form -->
    <form class="form-inline" id="search_form" onsubmit="return false">
      <div style="position: relative; display: inline-block; ">
        <input id="search" class="form-control" type="search" placeholder="Поиск" autocomplete="off" aria-label="Search" value="{{query}}">
      </div>

      {% if render_mode == 'price_list' %}
        <script>
          function on_search_evt(e)
          {
               Searcher.make_query({q: $('#search').val()});
               $('html, body').animate({ scrollTop: $('#split').offset().top-57 }, 1000);
               document.activeElement.blur();
               return false;
          }

          document.getElementById('search_form').onsubmit = e => {return on_search_evt()};
          $('#search').on('input', ()=>
          {
              $.ajax({method: "GET", url: '/api', data: {"pq": $('#search').val()}, success: (r)=>
                  {
                      if (r.success)
                      {
                          autocomplete(r.payload.sug);
                      }
                  }
              })
          });
      </script>


      <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="on_search_evt()">
        <i class=" fas fa-search"></i>

        </button>
      {% else %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="window.location.href = ('/?q=' + $('#search').val() + '#main' )">Искать</button>
        <script>
          document.getElementById('search_form').onsubmit = ()=> {
          $('html, body').animate({ scrollTop: $('#split').offset().top-57 }, 1000);
          window.location.href = ('/?q=' + $('#search').val() )
          document.activeElement.blur();
          return false;
          };
        </script>
      {% endif %}
    </form>

  </div>

  <div class="nav-right"></div>
  <div class="nav-right"></div>

</nav>

<script>

  const CATS = {{categories|safe}};
  const ADMIN = {% if admin %}true;{%else%}false;{%endif%}


  $('#search').on("keydown", function(e)
  {
      var x = document.getElementById("searchautocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
</script>