 <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <div class="sidebar-nav">

                        <p class="sidebar-brand">
                            <a href="#">Категории</a>
                        </p>

                        <hr class="m-0">
                        <div class="sidebar-content">
                            {% for cat_id, category, count in counted_categories %}
                                <div class="pad-txt">
                                    <div class="sidebar-entry-wrap"><a class="cat-entry noselect" href="#main" data-role='query-cat' data-cat_id='{{cat_id}}'>{{category}} ({{count}})</a></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--/sidebar-->