.static-bottom-entry
{
    font-size: 25px;
    font-weight: 600;
    margin: 0 10px 0 10px;
}
.order-form-hint
{
    color: #aa3030;
    font-family: Consolas;
    margin: 0;
}

h3, p
{
    //font-family: 'Raleway', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

h1, h2
{
    //font-style: italic;
    //font-weight: Semi-bold;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  margin: 0.1rem;
  background-color:#454444cf;
  height: 1px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
