<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% csrf_token %}

     <meta charset="UTF-8">
     <title> {{ settings.title }} </title>

    {% include 'universal/preload.html' %}

</head>

<body class="bg-main">
    {% include 'desktop/common/navbar.html' %}

    {% if item %}
        <div class="flex">
        <div id="main">

        </div>
            <button class="btn btn-dark btn-lg" onclick="OrderForm.open(Searcher.items[0].id)">Заказать</button>
            <div id="split"></div>
            {% for path in item.photo_paths %}
                <img src="{{ MEDIA_URL }}images/items/{{ path }}" class="illustration-big">
            {% endfor %}

        </div>
    {% else %}
        <p>item not found</p>
    {% endif %}

    {% include 'universal/main_load.html' %}

    <script>
            Searcher.make_query({id: {{item.id}}, silent: true });
            Searcher.disabled = true;
    </script>

    {% include 'universal/postload.html' %}
    {% include 'universal/modal.html' %}
    {% include 'universal/footer.html' %}

</body>
</html>