<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% csrf_token %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://dom21.zp.ua" />
    <meta property="og:title" content="{{ item.name }}" />
    <meta property="og:description" content="{{ item.description }}" />
    <meta property="og:image" content="http://dom21.zp.ua/static/images/min/{{ photo }}" />

     <meta charset="UTF-8">
     <title> {{ settings.title }} </title>

    {% include 'universal/preload.html' %}

</head>

<body class="bg-main">
    {% include 'desktop/common/navbar.html' %}

    {% if item %}
        <div class="flex">
        <div id="main">

        </div>
<!--            <button class="btn btn-dark btn-lg" onclick="OrderForm.open(Searcher.items[0].id)">Заказать</button>-->
            <div id="split"></div>
            {% for path in item.photo_paths %}
<!--                <img src="{{ MEDIA_URL }}images/items/{{ path }}" class="illustration-big">-->
            {% endfor %}

        </div>
    {% else %}
        <p>item not found</p>
    {% endif %}

    {% include 'universal/main_load.html' %}


    {% include 'universal/postload.html' %}
    {% include 'universal/modal.html' %}
    {% include 'universal/footer.html' %}

</body>
</html>