<!DOCTYPE html>
{% load static  %}
{% csrf_token %}
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>{{settings.title}}</title>

         <!-- JQuery -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% include 'universal/preload.html' %}

    </head>

    <body>

        {% include 'desktop/common/navbar.html' %}

        <div class="body-main flex">

<!--            <div>-->
{#                {% include 'desktop/common/sidebar.html' %} #}
<!--            </div>-->

            <div class="flex header-main-container">
                <h2 class="px-5 body-title">
                    {{ settings.text_title }}
                </h2>

                <hr>
                <hr>
                
                <p class="body-text">
                    {{ settings.text_main }}
                </p>

                <hr>
                <hr>

                <div class="flex row my-2">
                    <p class="static-bottom-entry">095 903 23 10</p>
                    <p class="static-bottom-entry">068 785 68 25</p>
                    <p class="static-bottom-entry">vfo@ukr.net</p>
                </div>


            </div>

        </div>


        {% if admin %}
            {% include 'desktop/common/add_item_form.html' %}
            {% include 'desktop/common/not_saved_alert.html' %}
        {% endif %}

        <p class='flex noselect row' id="split">
            Чтобы добавить товар в избранное или оформить заказ,
            нажмите на <i class="fas fa-ellipsis-v mx-2" style="font-size: 15px; display: inline;"></i>
            возле его характеристики.</p>
        <div class="bg-main">

        <div id="main" class="flex">

        </div>

        <div class="flex pb-4">
            <a class="btn btn-dark nowrap" style="margin-right: 10px;" onclick="Searcher.make_query({q:''})">
                <i class="fas fa-list ml-1" style=""></i>
                <span>Полный список</span>
            </a>
        </div>
    </div>

        {% include 'universal/main_load.html' %}
        {% include 'universal/modal.html' %}
        {% include 'universal/footer.html' %}

        {% if admin %}
            <div id="not_saved_alert" style="display: none">
                <div id="nsatn">Что-то не сохранено</div>
                <div class="" style="padding: 5px 0 5px 0; background-color: #DDDDDD;">
                    <button class="btn btn-warning" onclick="SaveManager.save_all_unsaved()">Сохранить Все</button>
                    <button class="btn btn-danger" onclick="$('#not_saved_alert').addClass('hidden')">Игнорировать</button>
                </div>
                <div style="width: 100%; background-color: #E8E8E6; height: 5px; margin-top: 5px;"></div>
                <div style="width: 100%; background-color: #F2F2F0; height: 5px;"></div>
                <div style="width: 100%; background-color: #FBFBF7; height: 5px;"></div>
            </div>
        {% endif %}

        <!-- support for host?q= requests -->
        <script>
               Searcher.make_query({silent:true, {%if query is not None %}q: '{{query}}',{%endif%} {%if cat_id is not None %}cat: '{{cat_id}}'{%endif%} });
        </script>

        {% include 'universal/postload.html' %}

    </body>
</html>