<!--{% load static %}-->

<!--<script defer src="{% static 'js/common/app/dom.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/order.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/page_utils.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/renderer.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/searcher.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/vars.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/network/networker_base.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/network/networker.js' %}"></script>-->
<!--<script defer src="{% static 'js/common/app/app.js' %}"></script>-->