{% load static %}
<script src="{% static 'js/common/app/dom.js' %}"></script>
<script src="{% static 'js/common/app/order.js' %}"></script>
<script src="{% static 'js/common/app/page_utils.js' %}"></script>
<script src="{% static 'js/common/app/renderer.js' %}"></script>
<script src="{% static 'js/common/app/searcher.js' %}"></script>
<script src="{% static 'js/common/app/vars.js' %}"></script>
<script src="{% static 'js/common/app/network/networker_base.js' %}"></script>
<script src="{% static 'js/common/app/network/networker.js' %}"></script>

<script src="{% static 'js/common/app/app.js' %}"></script>