


<div id="toggleContacts" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Контакты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body flex">
         <p style="font-size: 40px">095 903 23 10</p>
        <p style="font-size: 40px">068 785 68 25</p>
        <p style="font-size: 40px" >vfo@ukr.net</p>
      </div>

      <div class="modal-footer">
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div id="errorModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ошибочка вышла</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <p>С вашей стороны было бы неплохо сообщить об этой ошибке по контактам, указанным на сайте:</p>
          <code id='error-log'></code>
          <p class="mt-5">Я без понятия, что произошло, и возможно эта ошибка повлияла на отображение страницы. Из меня так себе программист, прошу прощения :/</p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Новый заказ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="item-data"></div>
        <form>
          <input type='hidden' name="item_id" id='order_form_item_id'>

          <div class="form-group">
            <label for="recipient-name" class="">Ваше имя:</label>
            <input type="text" class="form-control" required="required" name="username" autocomplete="off" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="phone" class="">Телефон:</label>
            <input class="form-control" type="tel" name="phone" required="required" id="phone">
          </div>
          <div class="form-group">
            <label for="message-text" class="">Сообщение:</label>
            <textarea class="form-control" name="message" required="required" id="message-text"></textarea>
          </div>

          <div class="form-group" id="order-subcat-selection"></div>

          <input type='hidden' name="subcat_id" id='order_form_subcat_idx'>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="OrderForm.submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notification-title">Новый заказ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="notification-body">

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
