{% load static %}

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/promise-polyfill/8.2.0/polyfill.min.js"
        integrity="sha512-YK+bAjUuYdjPksbGQIIIsUn5hgYFsc+nXgx21Wwby9Mv+rJd8WZH2FRe1RdlTjFu1vxlGia9/RqmUMcZtX+BrA=="
        crossorigin="anonymous">
</script>
<script>
    window.print = function(a,s){console.log(a)}
</script>

<img style="display: none;" src="/static/images/bg_extremely_compressed.webp" alt="">

<link href="{% static 'css/common/essential.css' %}" rel="stylesheet">

{% if request.mobile %}
    <link href="{% static 'css/mobile/preload.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobile/navbar.css' %}" rel="stylesheet">
{% else %}
    <link href="{% static 'css/desktop/preload.css' %}" rel="stylesheet">
{% endif %}

<script src="{% static 'src/js/common/app/vars.js' %}"></script>

<!-- JQuery -->
<script src="{% static 'js/jQuery.js' %}"></script>

<script defer src="{% static 'js/common/errorhandler.js' %}"></script>
<script defer src="{% static 'js/common/utils.js' %}"></script>

{% if not admin%}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y39P42T9E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5Y39P42T9E');
    </script>
{% endif %}


<script>
    // use vars to make sure those can be accessed from templates
    // should probably make something smart about rendering contexts in future
    
    var VERSION = "{{ settings.version }}"
    var MEDIA_URL = {{ settings.MEDIA_URL }}
    var STATIC_URL = {{ settings.STATIC_URL }}

    var CATS = {{categories|safe}};
    var ADMIN = {% if admin %}true;{%else%}false;{%endif%}
    var render_mode = '{{ render_mode }}'

    {% if query %}
        var page_href_query = '{{ query }}'
     {% else %}
        var page_href_query;
    {% endif %}

    {% if cat_id %}
        var page_href_cat_id = '{{ cat_id }}'
    {% else %}
        var page_href_cat_id;
    {% endif %}

    {% if item %}
        var item_id = {{item.id}}
    {% endif %}
</script>


